extends layout

block content
  h1= title

  p        
    a(href="/books/new" class="button") create new book
  form(method="get" action="/search" class="search-form")
    label(for="site-search" class="hide") Search for a book
    input(type="search" placeholder="search..." name="q" id="site-search")
    input(type="submit" class="submit-btn")
  table 
    thead
      tr
        th Title 
        th Author 
        th Genre 
        th Year
    tbody 
      each book in books 
        tr 
          td 
            a(href=`/books/${book.id}`)= book.title
          td=book.author
          td=book.genre 
          td=book.year
  if currentPage > 1  
    a(class="button prev" href=`/books?page=${currentPage - 1}&limit=${pageSize}`) Previous
  if currentPage < totalPages 
    a(class="button next" href=`/books?page=${currentPage + 1}&limit=${pageSize}`) Next 
  if search 
    a(class="button" href="/books") Back to home

 

