extends layout


block content
  h1= title 
  
  form(method="post")
    if errors 
      h2(class="error") Error 
      ul(class="error")
        each error in errors 
          if error.path == 'title'
            li Title is required
          else if error.path == 'author'
            li Author is required
    p  
      label(for="title") Title
      if formData
        input(name="title" type="text" id="title" value=`${formData.title}`)
      else
        input(name="title" type="text" id="title")
    p
      label(for="author") Author 
      if formData
        input(name="author" type="text" id="author" value=`${formData.author}`)
      else 
        input(name="author" type="text" id="author")
    p 
      label(for="genre") Genre 
      if formData 
        input(name="genre" type="text" id="genre" value=`${formData.genre}`)
      else 
        input(name="genre" type="text" id="genre" )
    p
      label(for="year") Year
      if formData
        input(name="year" type="number" id="year" value=`${formData.year}`)
      else 
        input(name="year" type="number" id="year")
    p 
      input(type="submit" value="Update Book")

  form(method="post" action=`/books/${bookId}/delete` onsubmit="return confirm('Do you really want to delete this book?');")
    p
      a(class="button" href="/books") Cancel
    p 
      input(type="submit" value="Delete Book")
    